{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Crear Nueva Comunidad</h3>
                </div>

                <div class="card-body">
                    <form method="POST">
                        <div class="form-group mb-3">
                            <label for="name">Nombre de la Comunidad</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="cif">CIF: Código de Identificación Fiscal</label>
                            <input type="text" class="form-control" id="cif" name="cif" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="cp">Código postal</label>
                            <input type="number" class="form-control" id="codi_postal" name="codi_postal" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="ciutat">Ciudad</label>
                            <input type="text" class="form-control" id="ciudad" name="ciudad" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="provincia">Provincia</label>
                            <input type="text" class="form-control" id="provincia" name="provincia" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="direccio">Dirección: Calle, Número</label>
                            <input type="text" class="form-control" id="direccion" placeholder="Roselló, 454" name="direccion" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="data_alta">Fecha de alta</label>
                            <input type="date" class="form-control" id="fecha_alta" placeholder="10/04/2025" name="fecha_alta" required>
                        </div> 
                        <div class="form-group mb-3">
                            <label for="data_alta">Latitud</label>
                            <input type="number" class="form-control" value="200" id="latitud" placeholder="40.1" name="latitud" required>
                        </div>  
                        <div class="form-group mb-3">
                            <label for="data_alta">Longitud</label>
                            <input type="number" class="form-control" value="200" id="longitud" placeholder="2.6" name="longitud" required>
                        </div>                                
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Crear Comunidad</button>
                            <a href="{{ url_for('fichajes.index') }}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
