{% extends "create_user.html" %}

{% block extra_fields %}
<div class="form-group mb-3">
    <label for="departament">Departament</label>
    <select name="departament" id="departament" class="form-control" required>
        <option value="">Selecciona...</option>
        <option value="parkings">Parkings</option>
        <option value="comunitats">Comunitats</option>
        <option value="oficines">Oficines</option>
    </select>
</div>

<div class="form-group mb-3">
    <label for="adreca">Adreça</label>
    <input type="text" class="form-control" id="adreca" name="adreca">
</div>

<div class="form-group mb-3">
    <label for="ciutat">Ciutat</label>
    <input type="text" class="form-control" id="ciutat" name="ciutat">
</div>

<div class="form-group mb-3">
    <label for="codi_postal">Codi Postal</label>
    <input type="text" class="form-control" id="codi_postal" name="codi_postal">
</div>

<div class="form-group mb-3">
    <label for="sexe">Sexe</label>
    <select name="sexe" id="sexe" class="form-control">
        <option value="">Selecciona...</option>
        <option value="f">Femení</option>
        <option value="m">Masculí</option>
        <option value="no">No especificat</option>
    </select>
</div>

<div class="form-group mb-3">
    <label for="nacionalitat">Nacionalitat</label>
    <select name="nacionalitat" id="nacionalitat" class="form-control">
        {% for pais in paisos %}
            <option value="{{ pais.name }}">{{ pais.name }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group mb-3">
    <label for="edat">Edat</label>
    <input type="number" class="form-control" id="edat" name="edat">
</div>

<div class="form-group mb-3">
    <label for="carnet_conduir">Carnet de Conduir</label>
    <select name="carnet_conduir" id="carnet_conduir" class="form-control">
        <option value="">Selecciona...</option>
        <option value="si">Sí</option>
        <option value="no">No</option>
    </select>
</div>

<div class="form-group mb-3">
    <label for="vehicle_propi">Vehicle propi</label>
    <select name="vehicle_propi" id="vehicle_propi" class="form-control">
        <option value="">Selecciona...</option>
        <option value="si">Sí</option>
        <option value="no">No</option>
    </select>
</div>
{% endblock %}

