{% extends "base.html" %}

{% block content %}
<h2>{{ _('Listado de Comunidades registradas') }}</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>{{ _('Cif') }}</th>
            <th>{{ _('Ciudad') }}</th>
            <th>{{ _('Provincia') }}</th>
            <th>{{ _('Dirección') }}</th>
            <th>{{ _('Fecha de alta') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for comunitat in comunitats %}
        <tr>
            <td>{{ comunitat.nombre }}</td>
            <td>{{ comunitat.cif }}</td>
            <td>{{ comunitat.ciudad }}</td>
            <td>{{ comunitat.provincia }}</td>
            <td>{{ comunitat.direccion }}</td>
            <td>{{ comunitat.fecha_alta.strftime('%d/%m/%Y %H:%M') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

