{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title mb-4">{{ _('Política de Privacidad') }}</h1>
                    
                    <h4 class="mt-4">{{ _('1. INFORMACIÓN AL USUARIO') }}</h4>
                    <p>
                        ¿Quién es el responsable del tratamiento de tus datos personales?<br>
                        El responsable del tratamiento de los datos personales del usuario es ANAMAS y le informa de que estos datos serán tratados de conformidad con lo dispuesto en el Reglamento (UE) 2016/679, de 27 de abril (GDPR), y la Ley Orgánica 3/2018, de 5 de diciembre (LOPDGDD).
                    </p>

                    <h4 class="mt-4">{{ _('¿Para qué tratamos tus datos personales?') }}</h4>
                    <ul>
                        <li>Para mantener una relación comercial con el usuario.</li>
                        <li>Remisión de comunicaciones comerciales publicitarias por e-mail, SMS, redes sociales o cualquier otro medio electrónico o físico, presente o futuro, que posibilite realizar comunicaciones comerciales. Estas comunicaciones serán realizadas por el responsable y estarán relacionadas con sus productos y servicios, o de sus colaboradores o proveedores, con los que este haya alcanzado algún acuerdo de promoción. En este caso, los terceros nunca tendrán acceso a los datos personales.</li>
                        <li>Realizar estudios de mercado y análisis estadísticos.</li>
                        <li>Tramitar encargos, solicitudes, dar respuesta a las consultas o cualquier tipo de petición que sea realizada por el usuario a través de cualquiera de las formas de contacto que se ponen a su disposición en la página web del responsable.</li>
                        <li>Remitir el boletín informativo online, sobre novedades, ofertas y promociones en nuestra actividad.</li>
                    </ul>

                    <h4 class="mt-4">{{ _('¿Por qué motivo podemos tratar tus datos personales?') }}</h4>
                    <ul>
                        <li>Porque el tratamiento está legitimado por el artículo 6 del GDPR de la siguiente forma:</li>
                        <li>Con el consentimiento del usuario: remisión de comunicaciones comerciales y del boletín informativo.</li>     
                        <li>Por interés legítimo del responsable: realizar estudios de mercado, análisis estadísticos, etc. y tramitar encargos, solicitudes, etc. a petición del usuario.</li>
                    </ul>

                    <h4 class="mt-4">{{ _('¿Durante cuánto tiempo guardaremos tus datos personales?') }}</h4>
                    <p>{{ _('Se conservarán durante no más tiempo del necesario para mantener el fin del tratamiento o existan prescripciones legales que dictaminen su custodia y cuando ya no sea necesario para ello, se suprimirán con medidas de seguridad adecuadas para garantizar la anonimización de los datos o la destrucción total de los mismos.') }}</p>

                    <h4 class="mt-4">{{ _('¿A quién facilitamos tus datos personales?') }}</h4>
                    <p>{{ _('No está prevista ninguna comunicación de datos personales a terceros salvo, si fuese necesario para el desarrollo y ejecución de las finalidades del tratamiento, a nuestros proveedores de servicios relacionados con comunicaciones, con los cuales el responsable tiene suscritos los contratos de confidencialidad y de encargado de tratamiento exigidos por la normativa vigente de privacidad.') }}</p>

                    <h4 class="mt-4">{{ _('¿Cuáles son tus derechos?') }}</h4>
                    <ul>
                        <li>Derecho a retirar el consentimiento en cualquier momento.</li>
                        <li>Derecho de acceso, rectificación, portabilidad y supresión de sus datos, y de limitación u oposición a su tratamiento.</li>
                        <li>Derecho a presentar una reclamación ante la autoridad de control (www.aepd.es) si considera que el tratamiento no se ajusta a la normativa vigente.</li>
                    </ul>

                    <h4 class="mt-4">{{ _('Datos de contacto para ejercer sus derechos:') }}</h4>
                    <ul>
                        <li>Email: anamasdigital@gmail.com</li>
                    </ul>

                    <h4 class="mt-4">{{ _('2. CARÁCTER OBLIGATORIO O FACULTATIVO DE LA INFORMACIÓN FACILITADA POR EL USUARIO') }}</h4>
                    <p>{{ _('Los usuarios, mediante la marcación de las casillas correspondientes y la entrada de datos en los campos, marcados con un asterisco (*) en el formulario de contacto o presentados en formularios de descarga, aceptan expresamente y de forma libre e inequívoca, que sus datos son necesarios para atender su petición, por parte del prestador, siendo voluntaria la inclusión de datos en los campos restantes. El usuario garantiza que los datos personales facilitados al responsable son veraces y se hace responsable de comunicar cualquier modificación de los mismos.') }}</p>
                    <p>{{ _('El responsable informa de que todos los datos solicitados a través del sitio web son obligatorios, ya que son necesarios para la prestación de un servicio óptimo al usuario. En caso de que no se faciliten todos los datos, no se garantiza que la información y servicios facilitados sean completamente ajustados a sus necesidades.') }}</p>

                    <h4 class="mt-4">{{ _('3. MEDIDAS DE SEGURIDAD') }}</h4>
                    <p>{{ _('Que de conformidad con lo dispuesto en las normativas vigentes en protección de datos personales, el responsable está cumpliendo con todas las disposiciones de las normativas GDPR y LOPDGDD para el tratamiento de los datos personales de su responsabilidad, y manifiestamente con los principios descritos en el artículo 5 del GDPR, por los cuales son tratados de manera lícita, leal y transparente en relación con el interesado y adecuados, pertinentes y limitados a lo necesario en relación con los fines para los que son tratados.') }}</p>
                    <p>{{ _('El responsable garantiza que ha implementado políticas técnicas y organizativas apropiadas para aplicar las medidas de seguridad que establecen el GDPR y la LOPDGDD con el fin de proteger los derechos y libertades de los usuarios y les ha comunicado la información adecuada para que puedan ejercerlos.') }}</p>
                    <p>
                        Para más información sobre las garantías de privacidad, puedes dirigirte al responsable a través de:<br>
                        <strong>Email: anamasdigital@gmail.com</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}  